body {
  margin: 0;
  text-align: center;
}

h1 {
  color: #464159;
  width: 30%;
  margin: 0 auto;
  font-family: 'Lobster', cursive;
  font-size: 3.8em;
  font-weight: 400
}

h2 {
  color: #1e836c;
  font-size: 3.8em;
  font-weight: 400;
}

h3 {
  color: #464159;
  font-size: 2.8em;
  font-weight: 200;
}

p {
  color: #1b262c;
  font-size: 1.8em;
  font-weight: 200;
}

a{
  color: #11999E;
  font-family: sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.copyright{
  color: #EAF6F6;
  font-size: 1em;
  margin-top: 20px;
}
.topContainer {
  background-color: #EAF6F6;
  font-family: 'Seymour One', sans-serif;
}

.bottom-container{
  background-color: #66BFBF;
  color: #1b262c;
  font-size: 1em;
  font-weight: 200;
  padding: 50px 0 20px;
}

.skill-row{
width: 50%;
margin: 100px auto 100px auto;
text-align: left;
line-height: 2;
}

.com{
  width: 25%;
  float: left;
}
.des{
  width: 25%;
  float: left;
}

hr{
      border-color: grey;
      width: 5%;
      border-width: 5px;
      border-style: none;
      border-top-style: dotted;
}

.name {
  margin-top: 60px;
}

.cloud1 {
  margin-top: 20px;
  margin-left: 30%;
}

.cloud2 {
  position: absolute;
}

.btn{
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(top, #11cdd4, #11999e);
  background-image: -webkit-gradient(top, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover{
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  background-image: -webkit-gradient(top, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.contact-me{
  margin-bottom: 50px;
}
